#myvideo{
    position: fixed;
    right: 0;
    bottom: 10;
    min-height: 100%;
    min-width: 100%;
}
.card{
    width: 380px !important;
}
.content{
    position: fixed;
    top:100px;
    left: 70%;
    right: 0px;
    background-color: rgba(0,0,0,0.5);
    color: rgb(2, 2, 2);
    width: 100%;
}
.card-text{
    margin-bottom: 20px;
}

.mybtn{
    width: 100px;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 5px;
    border: none;
    padding: 10 ,40;
    font-size: 18px;
    background-color: black;
    color: white;
    cursor: pointer;
}
.card-title{
    font-family: 'Times New Roman', Times, serif;
}

.mybtn:hover{
background-color:green;
transform: scale(1.1);
}