 /* 
--------------------
    color codes
--------------------
#a08c5b - light golden (Logo)
#181510 - Black
#d4af37 - dark Golden
#e9dbbd - lighter       
*/

 /* CSS NORMALISE   */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  margin-top: 60px;
  
}
